---
import PageLayout from "@/layouts/Base";
import { getUniqueTagsWithCount } from "@/utils";
import { getCollection } from "astro:content";

const allPosts = await getCollection("post");
const allTags = getUniqueTagsWithCount(allPosts);

const meta = {
	title: "标签",
	description: "我在文章中所写的所有主题的列表",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">标签</h1>
	<ul class="space-y-4">
		{
			allTags.map(([tag, val]) => (
				<li class="flex items-center gap-x-2">
					<a
						class="cactus-link inline-block"
						href={`/blogs/${tag}/`}
						title={`View posts with the tag: ${tag}`}
						rel="prefetch"
					>
						&#35;{tag}
					</a>
					<span class="inline-block">
						- {val} 篇
					</span>
				</li>
			))
		}
	</ul>
</PageLayout>
